@model SORT_doc_app.Models.ServiceSpecifics

<div>
    <hr />

    <p> <strong>1. @Html.DisplayNameFor(model => model.Links)</strong></p>

    <div class="col-md-12">
        <div class="panel panel-default" style="padding: 5px; min-height: 2em ">
            @Html.DisplayFor(model => model.Links)
        </div>
    </div>   

    <p> <strong>2. @Html.DisplayNameFor(model => model.VPN)</strong></p>

    <div class="col-md-12">
        <div class="panel panel-default" style="padding: 5px; min-height: 2em ">
            @Html.DisplayFor(model => model.VPN)
        </div>
    </div>  

    <p> <strong>3. @Html.DisplayNameFor(model => model.HostPlatform)</strong></p>

    <div class="col-md-12">
        <div class="panel panel-default" style="padding: 5px; min-height: 2em ">
            @Html.DisplayFor(model => model.HostPlatform)
        </div>
    </div>  

    <p> <strong>4. @Html.DisplayNameFor(model => model.BackupRecovery)</strong></p>

    <div class="col-md-12">
        <div class="panel panel-default" style="padding: 5px; min-height: 2em ">
            @Html.DisplayFor(model => model.BackupRecovery)
        </div>
    </div>  
 
    <p> <strong>5. @Html.DisplayNameFor(model => model.NotesAndGrid)</strong></p>

    <div class="col-md-12">
        <div class="panel panel-default" style="padding: 5px; min-height: 2em ">
            @Html.DisplayFor(model => model.NotesAndGrid)
        </div>
    </div>  

    <p> <strong>6. @Html.DisplayNameFor(model => model.Changes)</strong></p>

    <div class="col-md-12">
        <div class="panel panel-default" style="padding: 5px; min-height: 2em ">
            @Html.DisplayFor(model => model.Changes)
        </div>
    </div>  

    <p> <strong>7. @Html.DisplayNameFor(model => model.GoLiveReqs)</strong></p>

    <div class="col-md-12">
        <div class="panel panel-default" style="padding: 5px; min-height: 2em ">
            @Html.DisplayFor(model => model.GoLiveReqs)
        </div>
    </div>  

    <p> <strong>8. @Html.DisplayNameFor(model => model.SLAsSOW)</strong></p>

    <div class="col-md-12">
        <div class="panel panel-default" style="padding: 5px; min-height: 2em ">
            @Html.DisplayFor(model => model.SLAsSOW)
        </div>
    </div>  

    <p> <strong>9. @Html.DisplayNameFor(model => model.LicensingAndHardware)</strong></p>

    <div class="col-md-12">
        <div class="panel panel-default" style="padding: 5px; min-height: 2em ">
            @Html.DisplayFor(model => model.LicensingAndHardware)
        </div>
    </div>  



    <p> <strong>10. @Html.DisplayNameFor(model => model.BCorDR)</strong></p>

    <div class="col-md-12">
        <div class="panel panel-default" style="padding: 5px; min-height: 2em ">
            @Html.DisplayFor(model => model.BCorDR)
        </div>
    </div>  

    <p> <strong>11. @Html.DisplayNameFor(model => model.SSComments)</strong></p>

    <div class="col-md-12">
        <div class="panel panel-default" style="padding: 5px; min-height: 2em ">
            @Html.DisplayFor(model => model.SSComments)
        </div>
    </div>  

</div>  

