@model SORT_doc_app.Models.Project

<div>

    <strong>Project No.: </strong>

    <span style="text-align: right">@Html.DisplayFor(model => model.ID) </span><br>

    <strong>Title: </strong>

    <span style="text-align: right">@Html.DisplayFor(model => model.Title) </span><br />

    <strong>Author: </strong>

    @Html.DisplayFor(model => model.AuthorName) <br />

    <strong>@Html.DisplayNameFor(model => model.Description): </strong>

    @Html.DisplayFor(model => model.Description)<br />


    <strong>@Html.DisplayNameFor(model => model._Date): </strong>

        @Html.DisplayFor(model => model._Date)  <br />

    <strong>Go Live Date:  </strong>

    @Html.DisplayFor(model => model.GoLiveDate) <br />

    <strong>Time Before Go Live:</strong> <br />

    @ViewBag.timeRemaining Days, @ViewBag.hoursRemaining Hours <br />

    <strong>@Html.DisplayNameFor(model => model.Open):  </strong>

    @Html.DisplayFor(model => model.Open) <br />

    <strong>Current Status: </strong>

    <span class="badge" style="background-color:@ViewBag.StatusColour; color:#123123;">
        @Html.DisplayFor(model => model.Status)
    </span> 

</div>

