@model SORT_doc_app.Models.Summary

<div>
    <hr />
    <p> <strong>1. @Html.DisplayNameFor(model => model.ServiceName)</strong></p>

    <div class="col-md-12">
        <div class="panel panel-default" style="padding: 5px; min-height: 2em ">@Html.DisplayFor(model => model.ServiceName)</div>
    </div>   


    <p><strong>2. @Html.DisplayNameFor(model => model.Description)</strong></p>

    <div class="col-md-12">
        <div class="panel panel-default" style="padding: 5px; min-height: 2em">@Html.DisplayFor(model => model.Description)</div>
    </div>   

    <p><strong>3. @Html.DisplayNameFor(model => model.ProductName)</strong></p>

    <div class="col-md-12">
        <div class="panel panel-default" style="padding: 5px; min-height: 2em">@Html.DisplayFor(model => model.ProductName)</div>
    </div>  

    <p><strong>4. @Html.DisplayNameFor(model => model.ServiceDelivery)</strong></p>

    <div class="col-md-12">
        <div class="panel panel-default" style="padding: 5px; min-height: 2em">@Html.DisplayFor(model => model.ServiceDelivery)</div>
    </div>  

    <p><strong>5. @Html.DisplayNameFor(model => model.CostCentre)</strong></p>

    <div class="col-md-12">
        <div class="panel panel-default" style="padding: 5px; min-height: 2em">@Html.DisplayFor(model => model.CostCentre)</div>
    </div> 

    <p><strong>6. @Html.DisplayNameFor(model => model.ProjectManagers)</strong></p>

    <div class="col-md-12">
        <div class="panel panel-default" style="padding: 5px; min-height: 2em">@Html.DisplayFor(model => model.ProjectManagers)</div>
    </div> 

    <p><strong>7. @Html.DisplayNameFor(model => model.PCISOX)</strong></p>

    <div class="col-md-12">
        <div class="panel panel-default" style="padding: 5px; min-height: 2em">@Html.DisplayFor(model => model.PCISOX)</div>
    </div> 

    <p><strong>8. @Html.DisplayNameFor(model => model.GoLiveDate)</strong></p>

    <div class="col-md-12">
        <div class="panel panel-default" style="padding: 5px; min-height: 2em">@Html.DisplayFor(model => model.GoLiveDate)</div>
    </div> 

    <p><strong>9. @Html.DisplayNameFor(model => model.ArchLeadTeams)</strong></p>

    <div class="col-md-12">
        <div class="panel panel-default" style="padding: 5px; min-height: 2em">@Html.DisplayFor(model => model.ArchLeadTeams)</div>
    </div> 

    <p><strong>10. @Html.DisplayNameFor(model => model.SupportTeams)</strong></p>

    <div class="col-md-12">
        <div class="panel panel-default" style="padding: 5px; min-height: 2em">@Html.DisplayFor(model => model.SupportTeams)</div>
    </div> 

    <p><strong>11. @Html.DisplayNameFor(model => model.SummaryComments)</strong></p>

    <div class="col-md-12">
        <div class="panel panel-default" style="padding: 5px; min-height: 2em">@Html.DisplayFor(model => model.SummaryComments)</div>
    </div> 

</div>

